:root {
	--body-margin: 55px;
	--sidebar-width: 250px;

	/*--item-width: calc((100vw - var(--sidebar-width))/2 - 12vw);*/
	/*--remainder-width: calc((100vw - var(--sidebar-width) - 2*var(--item-width) - 2*var(--body-margin))/3);*/

	--remainder-width: 60px;
	--item-width: calc((100vw - var(--sidebar-width) - 2*var(--body-margin) - 3*var(--remainder-width))/2);

	--main-height: calc(100vh - 2*var(--body-margin));
	--main-width: calc(100vw - 2*var(--body-margin));
}

body {
	/*margin: var(--body-margin);*/
	/*margin-top: calc(2*var(--body-margin));*/
	padding: var(--body-margin);
	font-size: 14px;
	line-height: 1.333333;
	letter-spacing: 0.05em;
}

* {
	box-sizing: border-box;
	visibility: visible;
}

h1, h2, h3, h4, h5 {
	line-height: 1.1;
}

span .thick {
	font-weight: bold;
}

.myPortfolio {
	position: relative;
}

div {
	display: block;
}

.ham {
	display: inline-block;
	width: 23px;
	height: 2px;
	position: relative;
	top: 2px;
	vertical-align: bottom;
	background: #b1004a;
	white-space: nowrap;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.menu-bar {
	min-width: 44px;
	height: 44px;
	text-align: center;
	display: inline-block;
	z-index: 101;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	-webkit-animation: blinkBackground 4s infinite;
	animation: blinkBackground 4s infinite;
}

.menu-wrapper {
	display: table;
	table-layout: auto;
	width: 100%;
}

.header {
	display: none;
	padding: 20px;
}

.logo {
	display: table-cell;
	vertical-align: middle;
	width: 1%;
	font-size: 15px;
}

.logo img {

	width: 80px;
}


.menu {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	position: relative;
}

.ham {
	background-color: #000;
}

.ham:after, .ham:before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 23px;
	height: 2px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	outline: 1px solid transparent;
	left: 0;
	background: #00b19e;
	background-color: #000;
}

.ham:after {
	top: 8px;
}

.ham:before {
	top: -8px;
}

.exit {
	position: absolute;
	left: 75%;
	top: 20%;	
	z-index: 100;
	-webkit-transform: rotate(45deg);
}

.exit a{
	color: #ffffff;
	font-size: 25px;
}

.main-portfolio {
	position: relative;
	width: calc(100% - var(--sidebar-width));
	margin-left: var(--sidebar-width);
	height: var(--main-height);
}

.main-portfolio-fullscreen {
	position: relative;
	width: var(--main-width);
	height: var(--main-height);
}

.headline{
	margin-top: -10px;
}

.sub-headline{
	margin-top: 5px;
}

.pic {
	margin-top: 25px;
	margin-bottom: 25px;
}

.preface{
	margin-top: 50px;
	margin-bottom: 180px;
	margin-left: 5%;
	margin-right: 18%;
}

.portfolio-description .title {
	margin-top: 120px;
	margin-bottom: 30px;
}

.desc{
	margin-top: 25px;
	/*margin-bottom: 25px;*/
	margin-right: 15%;
}

.desc a {
	font-family: AndaleMono, myAndaleMono;
	color: #f94541;
}

.portfolio-description .headline span {
	font-family: AndaleMono;
	font-size: 36px;
	letter-spacing: 0.08em;
	text-align: left;
	color: #000000;
	-webkit-text-stroke: 0.8px #4a4a4a;
}

.portfolio-description .sub-headline span {
	font-family: AndaleMono;
	font-size: 18px;
	text-align: left;
	color: #4a4a4a;
}

.portfolio-description .pic img {
	width: 85%;
}

.portfolio-description .preface span {
	font-family: AndaleMono;
	font-size: 14px;
	line-height: 1.79;
	letter-spacing: 0.08em;
	line-height: 30px;
	text-align: justify;
	text-align: left;
	color: #4a4a4a;
}

@font-face {
	font-family: myAndaleMono;
	src: url('./font/AndaleMono.ttf');
}

@font-face {
	font-family: myHanziPenSC;
	src: url('./font/HanziPenSC.ttf');
}

.portfolio-description .title span {
	/*font-family: HanziPenSC-W3;*/
	font-family: HanziPenSC-W3, myHanziPenSC;
	font-size: 22px;
	letter-spacing: 0.08em;
	text-align: left;
	color: #000000;
}

.portfolio-description .desc span {
	/*font-family: AndaleMono;*/
	font-family: AndaleMono, myAndaleMono;
	font-size: 14px;
	line-height: 1.79;
	letter-spacing: 0.08em;
	line-height: 30px;
	text-align: justify;
	text-align: left;
	color: #4a4a4a;
}

.portfolio-description .subtitle span {
	/*font-family: AndaleMono;*/
	font-family: AndaleMono, myAndaleMono;
	font-size: 14px;
	letter-spacing: 0.08em;
	text-align: left;
	color: #000000;
}

.portfolio-description .subdesc span {
	/*font-family: AndaleMono;*/
	font-family: AndaleMono, myAndaleMono;
	font-size: 14px;
	line-height: 1.79;
	letter-spacing: 0.08em;
	line-height: 30px;
	text-align: justify;
	text-align: left;
	color: #4a4a4a;
}

.previous-next {
	margin-top: 20px;
}

.previous-next div a{
	display: inline-block;
	font-family: AndaleMono, myAndaleMono;
	font-size: 19px;
}

.previous-next .previous-p{
	float: left;
	margin-left: 20%;
}

.previous-next .next-p{
	float: right;
	margin-right: 20%;
}

.wrapper {
	position: relative;
}


.container {
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	position: relative;
}

.portfolio-item {

	position: absolute;
	width: var(--item-width);
	height: var(--item-width);
	transition: all 1s ease-in-out;
	
}

.post1 {
	left: var(--remainder-width);
	top: 0;
}

.post2 {
	right: var(--remainder-width);
	top: 0;
}

.post3 {
	left: var(--remainder-width);
	top: calc(var(--item-width) + var(--remainder-width));
}

.post4 {
	right: var(--remainder-width);
	top: calc(var(--item-width) + var(--remainder-width));
}

.post5 {
	left: var(--remainder-width);
	top: calc(2 * var(--item-width) + 2 * var(--remainder-width));
}

.item1 {
	background: url(./img/mainpage_1.jpg) no-repeat;
	background-size: 100%;
}

.item2 {
	background: url(./img/mainpage_2.jpg) no-repeat;
	background-size: 100%;
}

.item3 {
	background: url(./img/mainpage_3.jpg) no-repeat;
	background-size: 100%;
}

.item4 {
	background: url(./img/mainpage_4.jpg) no-repeat;
	background-size: 100%;
}

.item5 {
	background: url(./img/mainpage_5.jpg) no-repeat;
	background-size: 100%;
}

/*.portfolio-item:hover {*/
	/*opacity: 0.98;*/
	/*background-color: #eb6460;*/
/*}*/

.hover-state {
	/*visibility: hidden;*/
	width: 100%;
	height: 100%;
	/*opacity: 0;*/
	opacity: 1;
	transition: all 250ms;
	padding: 10%;
	position: relative;
}


.info {
	position: absolute;
	left: 10%;
	top: 0;
}


.title h2{
	position: relative;	
	font-family: HanziPenSC-W5;
	font-size: 22px;
	text-align: left;
	color: black;
	margin-bottom: 18px;
	/*-webkit-transform: translate(0,100px);
	transform: translate(0,15px);
	-webkit-transition: all .15s 75ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all .15s 75ms cubic-bezier(0.25, 0.46, 0.45, 0.94);*/
	letter-spacing: 0.05em;
	visibility: hidden;
}

.subtitle h3{
	position: relative;
	font-family: AndaleMono;
	font-size: 12px;
	text-align: left;
	color: #ffffff;
	/*-webkit-transform: translate(0,100px);
	transform: translate(0,15px);
	-webkit-transition: all .15s 75ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all .15s 75ms cubic-bezier(0.25, 0.46, 0.45, 0.94);*/
	letter-spacing: 0.05em;
	visibility: hidden;
}


@media only screen and (min-width: 768px)
{
	.hover-state:hover {
		visibility: visible;
		background-color: #eb6460;
		opacity: 0.9;
	}
	.hover-state:hover  .info {
		position: absolute;
		left: 10%;
		top: 65%;
	}

	.hover-state:hover  .info .title h2 {
		color: #ffffff;
		
	}

	.hover-state:hover  .info .subtitle h3 {
		color: #FFE5E5;
		display: block;
	}
	.hover-state:hover .title h2 {
		-webkit-transform: translate(0,-100px);
		transform: translate(0,-15px);
		-webkit-transition:all .4s cubic-bezier(.455,.03,.515,.955);
		transition:all .4s cubic-bezier(.455,.03,.515,.955);
		letter-spacing: 0.05em;
		visibility: visible;

	}
	.hover-state:hover .subtitle h3 {
		-webkit-transform: translate(0,-100px);
		transform: translate(0,-15px);
		-webkit-transition:all .6s cubic-bezier(.455,.03,.515,.955);
		transition:all .6s cubic-bezier(.455,.03,.515,.955);
		letter-spacing: 0.05em;
		visibility: visible;
		

	}
}

@media only screen and (max-width: 768px)
/*@media only screen and (max-width: 2000px)*/
{

	:root {
		--body-margin: 20px;
		--sidebar-width: 0px;
		--header-width: 90px;

		--remainder-width: 20px;
		--item-width: calc((100vw - var(--sidebar-width) - 2*var(--body-margin) - 3*var(--remainder-width))/2);
	}

	body {
		margin: 0px;
	}

	.header {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
		z-index: 90;
		opacity: 1;
		background-color: white;
		transition: all 1s ease-in-out;
	}

	.container {
		/*margin: var(--body-margin);*/
		margin-top: calc(var(--header-width) + var(--remainder-width));
	}


	.main-portfolio {
		margin-left: 0;	
		width: 100%;
		filter:blur(0px);
		/*transition:all 2s;*/
	}

	.Sidebar .Author {
		visibility: hidden;	
		display: none;	
	}

	.Sidebar {
		visibility: hidden;	
		display: none;	
	}

	.show {
		/*visibility: hidden;	*/
		/*display: none;	*/
		/*transition: all 1s ease-in-out;*/
		width: 100%;
		height: 100%;
		display: flex;
		opacity: 1;
		visibility: visible;
		z-index: 99;
		margin-left: 0;
		background-color: rgba(0,0,0,.5);
		justify-content: center;
		align-items: center;
		left: 0;
		/*transition:all 2s;*/
	}

	.blurin {
		/*animation: bluring 2s ;		*/
		filter:blur(8px);
		/*transition:all 2s;*/
	}

	.list ul a{
		color: #ffffff;
	}

	/*@keyframes bluring{*/
	/*0% {filter:blur(0px)}*/
	/*100% {filter:blur(50px)}*/
	/*}*/



	/*.portfolio-item {*/
		/*width: var(--item-width);*/
		/*height: var(--item-width);*/
		/*transition: all 1s ease-in-out;*/
		
	/*}*/
}

@media only screen and (max-width: 480px)
{
	:root {
		--body-margin: 20px;
		--sidebar-width: 0px;
		--header-width: 90px;

		--remainder-width: 20px;
		--item-width: calc((100vw - var(--sidebar-width) - 2*var(--body-margin) - 2*var(--remainder-width)));
	}

	.container {
		/*margin: var(--body-margin);*/
		margin-top: var(--header-width);
		padding: var(--remainder-width);	
	}

	.portfolio-item {
		position: relative;	
		margin-bottom: var(--remainder-width);

	}

	
	div[class*='post'] {
		left: 0px;
		right: 0px;
		top: 0px;
	}

}
/*
@media only screen and (min-width: 768px)
{
	.container{
		width: 750px;
	}
}

@media only screen and (min-width: 992px)
{
	.container{
		width: 970px;
	}
}

@media only screen and (min-width: 1200px)
{
	.container{
		width: 1170px;
	}
}
*/

